# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Uploads (do NOT upload user resumes)
uploads/

# OS files
.DS_Store
Thumbs.db

# Build files
dist/
build/

# IDE stuff
.vscode/
.idea/

# Temp files
*.tmp
